body {
    text-align: center;
}
img {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 300px;
}
img[data-src] {
    filter: blur(0.2em);
    min-width: 50px;
    min-height: 50px;
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
  }