@import url('https://fonts.googleapis.com/css2?family=Hind&family=Inconsolata&family=Montserrat:wght@300&display=swap');

body {
    font-family: Hind, Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;
}
.head {
    background-color:blanchedalmond;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: auto;
}
img {
    width: 100px;
    margin-right: 20px;
    box-shadow: 2px 2px lightsalmon;
}
h1 {
    color: darkslategray;
    font-size: 24px;
    font-family: Montserrat, Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: darkslategray;
    margin: 15px;
    padding: 0;
    margin-bottom: 5px;
    font-size: 22px;
}
article {
    padding: 2px;
    max-width: 250px;
    margin: auto;
    justify-content: center;
    text-align: left;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
    color: darkslategray;
    margin: 5.5px;
}
article a {
    font-size: 15px;
    text-decoration: none;
    color: coral;
}
footer {
    background-color: blanchedalmond;
    color: coral;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: auto;
}
